@charset "UTF-8"

* {
   margin: 0;
   padding: 0; 
}

.wrap {
    width: 1000px;
    margin: 0 auto;
}

.board_list {
    width: 100%;
    border: 1px solid #444;
    border-collapse: collapse;
    font-size: 1rem;
}

.board_list caption {
    padding: 10px;
}

.board_list th, td {
    border-spacing: 0;
    border-bottom: 1px solid #444;
    padding: 10px;
    text-align: center;
}

.under:hover {
    text-decoration: underline;
}

