/* .slide_2set {
    height: 520px;
}

.slider_content2 {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    position: absolute;
    left: 0; top: 0;
    transition: left 0.5s ease-out;
    list-style: none;
}

.slides li:not(:last-child){
    float: left;
    margin-right: 10px;
}

.controls {
    text-align: center;
    margin-top: 200px;
}

.controls span {
    background: purple;
    color: #fff;
    padding: 10px 20px;
    margin: 0 10px;
}

.controls span.prev {
    right: calc(100% + 50px);
}

.controls span.next {
    left: calc(100% + 50px);
} */